﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Online Medication";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 10rem">Online Medication</h1>
</div>

<h5 id="timer"></h5>

<table id="tabela" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Observation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medication in Model.Medication)
        {
            <tr>
                <th>@medication.Name</th>
                <th>@medication.Quantity</th>
                <th>@medication.Observation</th>
            </tr>
        }
    </tbody>
</table>

<div style="margin-top: 2rem">
    <button class="btn-primary" style="border-radius: 10px" onclick="buttonClick()">Download plan for demo purposes</button>
</div>

<script>
    var x = setInterval(() => {
        var now = new Date().getTime();

        var hours = Math.floor((now % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((now % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((now % (1000 * 60)) / 1000);

        $("#timer").html(hours + "h " + minutes + "m " + seconds + "s ");
    }, 1000);

    function buttonClick() {
        $.ajax({
            url: document.URL,
            success: function (result) {
                location.reload();
            }
        })
    }
</script>
